<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycj.jusd"
    android:versionCode="2"
    android:versionName="beat1.3" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- map -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.sen" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_jun"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <service
            android:name="com.mycj.jusd.service.BlueService"
            android:enabled="true" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3SpxmmTLhpHAF2Y2a1dY8dG7" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.6" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.DeviceAcitivy"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SettingPersonalActivity"
            android:label="@string/title_activity_personal_setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SettingSyncDataActivity"
            android:label="@string/title_activity_sync_data"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SettingRemindActivity"
            android:label="@string/title_activity_setting_remind"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.HistorySleepActivity"
            android:label="@string/title_activity_history_sleep"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.HistorySportActivity"
            android:label="@string/title_activity_history_sport"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CountActivity"
            android:label="@string/title_activity_count"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SportInfoActivity"
            android:label="@string/title_activity_sport_info"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SpalishActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.laput.map.MapActivity"
            android:label="@string/title_activity_map"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mycj.jusd.ui.activity.SettingSportPlanActivity"
            android:label="@string/title_activity_setting_sport_plan"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OffLineActivity"
            android:label="@string/title_activity_off_line"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StepStatisticsActivity"
            android:label="@string/title_activity_step_statistics"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".PathStatisticsActivity"
            android:label="@string/title_activity_path_statistics" >
        </activity>

        <!--  

        <receiver android:name=".NotifyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        
        -->
        
        
        
    </application>

</manifest>